.navbar {
  margin-left: 5%;
  margin-right: auto;
}

.navbar__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navbar__item {
  & > a {
    padding: var(--indent-base);
    font-size: var(--fz-accent);
    font-weight: 600;
    display: block;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}
